<form (ngSubmit)="onSave(f)" #f="ngForm">
    <div *ngIf="editedElement == null">
        <h2 class="text-center">{{ network.name }} parameters</h2>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control" name="name" [(ngModel)]="network.name" required>
            <label for="time">Starting time (in s)</label>
            <input type="number" id="time" class="form-control" name="time" min="0" [(ngModel)]="network.time" required>
            <label for="margin_min">Minimum margin (in m)</label>
            <input type="number" id="margin_min" class="form-control" name="margin_min" min="0" [(ngModel)]="network.margin_min" required>
            <label for="max_speed">Maximum speed (in m/s)</label>
            <input type="number" id="max_speed" class="form-control" name="max_speed" min="0" [(ngModel)]="network.max_speed" required>
            <label for="pod_size">Pod size (in m)</label>
            <input type="number" id="pod_size" class="form-control" name="pod_size" min="0" [(ngModel)]="network.pod_size" required>
            <label for="places_number">Number of places</label>
            <input type="number" id="places_number" class="form-control" name="places_number" min="0" [(ngModel)]="network.places_number" required>
        </div>
    </div>
    <div *ngIf="editedElement != null">
        <div *ngIf="editedElement.elt.hasOwnProperty('name')">
            <h2 class="text-center">{{ editedElement.elt.name }} parameters</h2>
            <div class="form-group">
                <div *ngIf="editedElement.elt.type == 'station' || editedElement.elt.type == 'shed'">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control" name="name" [(ngModel)]="editedElement.elt.name" required>
                    <label for="max_pods">Pod capacity</label>
                    <input type="number" id="max_pods" class="form-control" name="max_pods" min="1" [(ngModel)]="editedElement.elt.max_pods" required>
                </div>
                <div *ngIf="editedElement.elt.type == 'station'">
                    <label for="station_type">Station type</label>
                    <input type="number" id="station_type" class="form-control" name="station_type" min="1" max="3" [(ngModel)]="editedElement.elt.station_type" required>
                </div>
            </div>
            <div *ngIf="editedElement.links.length > 0">
                <h3>Sections</h3>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let link of editedElement.links">
                        <div *ngIf="link.type == 'from'">Section going to {{ link.to }}</div>
                        <div *ngIf="link.type == 'to'">Section coming from {{ link.from }}</div>
                        <div *ngIf="link.type == 'bridge'">Bridge</div>
                        <div class="btn-group mr-1" role="group">
                            <button class="btn btn-primary" (click)="goTo(link.id)">Go to</button>
                            <button class="btn btn-danger" *ngIf="link.type != 'bridge'" (click)="removeLink(link.id)">Remove</button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="!editedElement.elt.hasOwnProperty('name')">
            <h2 class="text-center">Section paramters</h2>
            <h3 *ngIf="!editedElement.elt.bridge">Section from {{ editedElement.elt.from_name }} to {{ editedElement.elt.to_name }}</h3>
            <h3 *ngIf="editedElement.elt.bridge">Bridge from {{ editedElement.elt.from_name }} to {{ editedElement.elt.to_name }}</h3>
            <label for="speed">Speed</label>
            <input type="number" id="speed" class="form-control" name="speed" min="0" max="{{ maxSpeed }}" [(ngModel)]="editedElement.elt.speed" required>
            <label for="length">Length (in m)</label>
            <input type="number" id="length" class="form-control" name="length" min="60" [(ngModel)]="editedElement.elt.length" required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary mt-2" [disabled]="f.invalid">Save</button>
</form>