<div class="btn-toolbar" role="toolbar">
    <div class="btn-group mr-2" role="groupe">
        <a target="_blank" rel="noopener noreferrer" href="http://urbanloop.univ-lorraine.fr/">
            <img src="assets/urbanloop.png">
        </a>
    </div>
    <div class="btn-group mr-2" role="group">
        <button class="btn btn-primary" (click)="newNetwork()">New network</button>
        <label class="btn btn-primary export">
            Import 
            <input type="file" (change)="import($event.target.files)" hidden>
        </label>
        <button class="btn btn-primary" (click)="export()">Export</button>
    </div>
    <div class="btn-group mr-2" role="group">
        <button class="btn btn-primary" (click)="addElement('station')">Add station</button>
        <button class="btn btn-primary" (click)="addElement('shed')">Add shed</button>
        <button class="btn btn-primary" (click)="addElement('bridge')">Add bridge</button>
    </div>
    <div class="btn-group mr-2" role="group">
        <button class="btn" 
                [ngClass]="{'btn-primary': !linking, 'btn-warning': linking}"
                (click)="link()">
            Add link
        </button>
        <button class="btn" 
                [ngClass]="{'btn-primary': !editing, 'btn-warning': editing}"
                (click)="edit()">
            Edit
        </button>
        <button class="btn" 
                [ngClass]="{'btn-primary': !removing, 'btn-warning': removing}"
                (click)="remove()">
            Remove
        </button>
    </div>
    <div class="btn-group" role="group">
        <button id="btn_options" 
                class="btn"
                [ngClass]="{'btn-primary': !options, 'btn-warning': options}"
                (click)="toggleOptions()"
                aria-describedby="menu_options">
            Options
        </button>
    </div>
</div>
<div id="menu_options" role="menu_options">
    <app-options></app-options>
    <div id="arrow" data-popper-arrow></div>
</div>